<h1>Welcome to Contacts Central</h1>
  <a href="/contacts">See Contacts List</a>
  <a href="/contacts/new">Add New Contacts</a>
  <a href="/persons">See persons List</a>
  <a href="/persons/new">Add New persons</a>
